{% extends 'base.html' %}
{% block container %}

    <div class="mt-4">
        <div class="card-body">
            <h1>Stepic Assistant</h1>
            <p>Введите номер степа, чтобы посмотреть подсказку, ответ, решение или видеоразбор</p>

            <form action="solution" method="get" class="form-row">
                <div class="col-xs-6 col-md-3">
                    <input type="text" name="stepid" class="form-control" />
                </div>
                <div class="col-xs-6 col=md-2">
                    <input type="submit"  class="form-control btn btn-primary"  value="Найти ответ" />
                </div>
            </form>

        </div>
    </div>

{% endblock %}