{% extends 'base.html' %}
{% block container %}

<div class="container mt-5">

    <h1 class="mb-4">Решение для {{ solution.stepid }}</h1>

    <div class="card mt-4">
        <div class="card-body">
            <p><b>Подсказка</b></p>
            <pre>
{{ solution.hint }}
            </pre>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <p><b>Алгоритм</b></p>
            <pre>
{{ solution.algorithm }}
            </pre>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <p><b>Решение</b></p>
            <pre>
{{ solution.solution }}
            </pre>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <p><b>Видеорешение</b></p>
            <iframe width="800" height="600" src="https://www.youtube.com/embed/{{ solution.video }}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>


{% endblock %}